# Database URL for PostgreSQL
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= # Base URL of your app (accessible only from the server)

# Udemy HTML selector defaults
NOTES_CONTAINER_SELECTOR = '[data-purpose="bookmarks-container"]'
NOTE_SELECTOR = '.lecture-bookmark-v2--row--kw-1I'
DURATION_SELECTOR = '.lecture-bookmark-v2--duration--itqnB'
SECTION_SELECTOR = '.lecture-bookmark-v2--section--j0ti8'
LECTURE_SELECTOR = '.ud-text-sm'
NOTE_BODY_SELECTOR = '[data-purpose="bookmark-body"]'
NOTE_CODE_BLOCK_SELECTOR = 'ud-component--base-components--code-block'

SIGNING_SECRET = 'udemy-notes-secure-metadata'

OPENROUTER_API_KEY='your-openrouter-api-key'